<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <style>
        body{
            background-image: url(https://source.unsplash.com/1600x1600/?nature);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: sticky;
            font-family: 'Mochiy Pop One', sans-serif;
        }
        img{
            border:5px solid rgb(54, 155, 214);
            border-radius: 10px;
            opacity: 1;
            transition: 1s;
        }
        img:hover{
            border:20px solid rgba(231, 255, 19, 0.952);
            border-radius: 10px;
            opacity: 1;
        }
        .card {
           
           background-color: rgba(0, 0, 0, 1);
           display: flex;
           flex-direction: column;
       
     
}
   </style>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
       <div class="container-fluid">
         <a style="color:white"  class="navbar-brand" href="#">YELPCAMP</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
               <a style="color:white" class="nav-link active" aria-current="page" href="/home">Home</a>
             </li>
             <li  class="nav-item dropdown">
               <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Filter
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="/coordinates">Search By Coordinates </a></li>
                 <li><a class="dropdown-item" href="/home">Search By City</a></li>
                 <li><hr class="dropdown-divider"></li>
                 
               </ul>
             </li>
             <li class="nav-item">
               <a style="color:white" class="nav-link" href="/add">Add New Camp</a>
             </li>
             
           
           </ul>
           <form action="/findLocation"class="d-flex">
             <input name="latitude" class="form-control me-2" type="search" placeholder="Latitude" aria-label="Latitude">
             <input name="longitude" class="form-control me-2" type="search" placeholder="Longitude" aria-label="Latitude">
             <button style="color:white" class="btn btn-outline-success" type="submit">Search</button>
           </form>
          
           
         </div>
       </div>
     </nav>
  
    
    <br>
   <div class="filter">
      
   </div>
   
    <div class="card">
    
    <div style="display:flex; flex-direction:column; justify-content:center; align-items:center">
        <%for(let i of data){%>
            <div style="flex-direction:column;align-items:center;justify-content:center">
                <a href="/details/<%=i._id%>"><img style="transition:1s;" src="https://source.unsplash.com/700x400/?nature,<%=i.city%>"></a>
                <br>
                <div > 
                    <a style="width:44em; border-radius:10px" class="btn btn-primary"  href="/details/<%=i._id%>" role="button"><%=i.city%></a>
                   
                </div></div>
                <br>
                <br>
                <br>
                <br>
            <%}%>
        </div>
    </div>
<!-- </body>
</html> -->