<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<body>
    <%=data%>
    <div id='map' style='width: 400px; height: 300px;'>
    
    </div>
    <script>
  
        mapboxgl.accessToken = 'pk.eyJ1IjoicHJhbmF2dm1hcGJveCIsImEiOiJja3Z5ejA1ZzcwZ2lvMm9udDZxbGx1cmU4In0.38TpBzHNKZQAlfgPzYmjLA';
        
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center:[data.longitude, data.latitude],
          zoom:1
        });
        new mapboxgl.Marker().setLngLat(data).addTo(map)
      </script>
  

      

</body>
</html>